<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/index.ejs">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">read user</a>
        </div>
        <h1 class="text-3xl tracking of tighter mb-3">Create user</h1>
        <form action="/create" method="post">
            <input class="px-5 py-3 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"  placeholder="name" name="name">
            <input class="px-5 py-3 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"  placeholder="email" name="email">
            <input class="px-5 py-3 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"  placeholder="image url" name="image url">
            <input class="px-5 py-3 bg-blue-500 rounded-lg ml-3" type="submit" value="Create user">
        </form>
    </div>
</body>
</html>